# used for sitemap.ts , robots.ts , and for client.ts
NEXT_PUBLIC_SITE_URL=http://localhost:3000
# used for Draft Mode (Open in Studio Url)
NEXT_PUBLIC_STUDIO_URL=http://localhost:3333
# used for metadata to set robots (you can set development for you testing subdomain)
NEXT_PUBLIC_SITE_ENV=development

# SANITY CMS
# should match the SANITY_STUDIO_API_VERSION in the Studio ENV
NEXT_PUBLIC_SANITY_API_VERSION=2025-07-04
NEXT_PUBLIC_SANITY_PROJECT_ID=b9pzoci3
NEXT_PUBLIC_SANITY_DATASET=development
# Value in Keeper
SANITY_API_READ_TOKEN=your-token