# FRONTEND
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_STUDIO_URL=http://localhost:3333
NEXT_PUBLIC_SITE_ENV=development

# SANITY CMS
NEXT_PUBLIC_SANITY_API_VERSION=2026-02-25
NEXT_PUBLIC_SANITY_PROJECT_ID= #id found in Keeper
NEXT_PUBLIC_SANITY_DATASET=development

# When deploying studio via CLI, remember to change SANITY_STUDIO_PREVIEW_URL
SANITY_STUDIO_PREVIEW_URL=http://localhost:3000
SANITY_STUDIO_DATASET=development
SANITY_STUDIO_HOSTNAME=ed-starter
SANITY_STUDIO_API_VERSION=2025-07-04
SANITY_STUDIO_PROJECT_ID= #id found in Keeper
SANITY_API_READ_TOKEN= #token found in Keeper