@import "tailwindcss";
@import "../lib/styles/fluid.css";
@import "../lib/styles/reset.css";

@theme {
  /* Fonts */
  --font-heading: var(--font-heading); /* Font Name */
  --font-body: var(--font-body); /* Font Name */
  --font-mono: var(--font-mono); /* Font Name */

  /* Custom breakpoints */
  --breakpoint-3xl: 120rem; /* 1920px */
  --breakpoint-4xl: 160rem; /* 2560px */
  --breakpoint-5xl: 240rem; /* 3840px */

  /* Default colors */
  --color-*: initial; /* Remove default color palette */
  --color-debug-blue: oklch(62.3% 0.214 259.815); /* #2B7FFF */
  --color-debug-red: oklch(63.7% 0.237 25.331); /* #FB2C36 */

  /* Primary colors */
  --color-white: oklch(0.9851 0 0); /* #FAFAFA */
  --color-black: oklch(0.1913 0 0); /* #141414 */
  --color-neon: oklch(0.932 0.2277 122.64); /* #CEFF00 */

  /* Secondary colors */
  --color-gunmetal: oklch(0.3753 0 0); /* #414141 */
  --color-charcoal: oklch(0.4676 0 0); /* #5A5A5A */
  --color-ash: oklch(0.6434 0 0); /* #8D8D8D */
  --color-silver: oklch(0.7668 0 0); /* #B3B3B3 */
  --color-alabaster: oklch(0.8853 0 0); /* #D9D9D9 */
  --color-platinum: oklch(0.9431 0 0); /* #ECECEC */
  --color-porcelain: oklch(0.9674 0.0029 84.56); /* #F5F4F2 */

  /* Animations */
  --animate-accordion-up: accordionSlideUp 0.18s ease-in-out;
  --animate-accordion-down: accordionSlideDown 0.18s ease-in-out;

  @keyframes accordionSlideUp {
    from {
      height: var(--accordion-panel-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes accordionSlideDown {
    from {
      height: 0;
    }
    to {
      height: var(--accordion-panel-height);
    }
  }


}




/* ------------------------------------------------------------ */
/* -------------------- Utility Classes ---------------------- */
/* ------------------------------------------------------------ */

@utility p-custom {
  @apply px-5 lg:px-6;
}

@utility p-custom-md {
  @apply px-5 md:px-6;
}

@utility grid-custom {
  @apply grid grid-cols-4 lg:grid-cols-12 gap-5;
}

@utility grid-custom-md {
  @apply grid grid-cols-4 md:grid-cols-12 gap-5;
}

/* ------------------------------------------------------------ */
/* ------------------------- Globals -------------------------- */
/* ------------------------------------------------------------ */

html {
  @apply antialiased;
  --scrollbar-gutter: 0px;
  scrollbar-gutter: stable; /* This is needed to prevent the scrollbar from jumping */

  &.lenis-stopped {
    --scrollbar-gutter: var(--scrollbar-width);
  }
}

* {
  scrollbar-width: thin;
}

/* @see: https://base-ui.com/react/overview/quick-start */
.root {
  isolation: isolate;
}

html.overflow-hidden {
  overflow: hidden;
  touch-action: none;
}

svg.icon {
  path[fill],
  rect[fill],
  circle[fill] {
    fill: currentColor;
  }
  path[stroke],
  rect[stroke],
  circle[stroke] {
    stroke: currentColor;
  }
}

button {
  cursor: pointer;
  /* Fix vertical text centering by trimming font metric space */
  text-box-trim: both;
  text-box-edge: cap alphabetic;
  user-select: none;
}

article b,
article strong {
  @apply font-semibold;
}

html.scrollbar-grabbing,
img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
