# Localhost or live site for preview mode
SANITY_STUDIO_PREVIEW_URL=http://localhost:3000
SANITY_STUDIO_API_VERSION=2025-07-04
SANITY_STUDIO_PROJECT_ID=b9pzoci3
SANITY_STUDIO_DATASET=development
SANITY_STUDIO_HOSTNAME=ed