import { Metadata } from 'next';
import { notFound } from 'next/navigation';

import generateBasicMetadata from '@utility/generate-basic-metadata';
import { get{{ pascalCase name}} } from '@/app/(site)/api'; // Update imports based on correct functions

export async function generateMetadata(): Promise<Metadata> {
  const page = await get{{ pascalCase name}}();

  if (!page) return notFound();

  return generateBasicMetadata(page);
}

export default async function {{ pascalCase name }}() {
  const page = await get{{ pascalCase name}}();

  return (
    <main className="">
      <div className="container">
        <h1>{page?.title}</h1>
      </div>
    </main>
  );
}
